* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #282923;
	color: #fff;
}

.main_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.tamagochi_container {
	background-image: url(./images/Gen1BG.jpeg);
	display: flex;
	width: 300px;
	height: 300px;
	justify-content: center;
	align-content: center;
	align-items: center;
	border: 4px solid #f5dcc0;
	margin-top: 5%;
	border-radius: 12px;
	overflow: hidden; 
	background-size: contain;
}


/* MENU OPTIONS ------------------------------------ */
#top_menu {
	display: flex;
	width: 300px;
	position: absolute;
	top: -60px;
	left: -75px;
	flex-direction: row;
	justify-content: space-around;
}
.top_item {
	width: 2rem;
}
.hidden {
	visibility: hidden;
}
.visible {
	visibility: visible;
}
.icon {
	list-style-type: none;
}



#bottom_menu {
	display: flex;
	width: 300px;
	position: absolute;
	top: 170px;
	left: -75px;
	flex-direction: row;
	justify-content: space-around;
}

.bottom_item {
	width: 2.7rem;
}

/* PET DISPLAY				-------------------------------*/
.milu_display {
	width: 150px;
	height: 170px;
	position: relative;
}

#pet_image {
	position: absolute;
	top: -20px;
	visibility: visible;
}

#stats_menu {
	visibility: hidden;
	text-align: center;
	color: black;
}

/* ITEMS DISPLAY 				-------------------------------*/

#item_cake {
	visibility: hidden;
	width: 80px;
	height: 80px;
	position: absolute;
	top: -20px;
	left: -50px;
}
#item_cake img {
	border-radius: 50%;
}

#play_sword {
	visibility: hidden;
	width: 50px;
	position: absolute;
	top: -20px;
	left: -50px;
	animation-name: pet_playing;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: steps(2, end);
}
#play_gameboy {
	visibility: hidden;
	width: 50px;
	position: absolute;
	top: -20px;
	left: 150px;
	animation-name: pet_playing;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: steps(2, end);
}

/* ANIMATIONS 				-------------------------------*/
.animation_pet_standby {
	animation-name: pet_standby;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: steps(4, end);
}

.animation_pet_eating {
	animation-name: pet_eating;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: steps(2, end);
}

.animation_pet_playing {
	animation-name: pet_playing;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: steps(2, end);
}
@keyframes pet_standby {
	0% {
		transform: translateX(0px);
	}
	20% {
		transform: translateX(-100px) scaleX(1);
		opacity: 1;
	}
	21% {
		transform: translateX(-100px) scaleX(-1);
		opacity: 0;
	}
	22% {
		opacity: 1;
	}
	40% {
		transform: translateX(0px) scaleX(-1);
	}
	60% {
		transform: translateX(100px) scaleX(-1);
		opacity: 1;
	}
	61% {
		transform: translateX(100px) scaleX(1);
		opacity: 0;
	}
	62% {
		opacity: 1;
	}
	80% {
		transform: translateX(0px);
	}
	100% {
		transform: translateX(0px);
	}

}

@keyframes pet_eating {
	0%, 100% { transform: translateY(0); } 
    30% { transform: translateY(-30px); } 
    60% { transform: translateY(0); } 
    80% { transform: translateY(-15px); } 
    100% { transform: translateY(0); } 
}

@keyframes pet_playing {
	        0% {
                transform: rotate(-20deg);
            }
            20% {
                transform: rotate(20deg);
            }
            40% {
                transform: rotate(-20deg);
            }
            60% {
                transform: rotate(20deg);
            }
            80% {
                transform: rotate(-20deg);
            }
            100% {
            	transform: rotate(20deg);
            }
}



/* BUTTONS OPTIONS			------------------------------- */
.buttons_container{
	margin: 3px; 
}
.stats_menu {
	text-align: center;
}



/* Patch Notes Section		------------------------------- */
#show_patch_notes {
	cursor: pointer;
}
article#patch_notes_section {
	padding: 10px;
}
#patch_notes_section {
	padding: 4px;
	visibility: hidden;
}
.patch_notes_titles {
	text-align: center;
	margin: 5px;
}